h1{
  text-align: center;
}

.background {
  border: 5px solid black;
  width: 100%;
}

.ocean-section{
  width: 100%;
}

.animal{
  height: 250px;
  width: 250px;
}

.animal-images{
  display:flex;
  justify-content: space-around;
  margin-top:50px;
}

.ocean-section{
  min-height: 450px;
  width: 100%;
  background-image: url("https://t3.ftcdn.net/jpg/01/23/88/82/240_F_123888205_Aynx9JqtCFUw5dKDJcheiAy472WlXLsY.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jungle-section {
  min-height: 450px;
  width: 100%;
  background-image: URL('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlN18zZF9pbGx1c3RyYXRpb25fb2ZfdHJvcGljYWxfcmFpbmZvcmVzdF9iYWNrZ3JvdV85YWFhNTE2Ni0wOWRhLTRkMGEtOWIxMS1kMjNjNTM2ZDNhZGJfMS5qcGc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.desert-section {
  min-height: 450px;
  width: 100%;
  background-image: URL('https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2xhcmdlc3QtZGVzZXJ0LXdvcmxkLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6ODI4fX19');
  background-size: cover;
  background-repeat: no-repeat;
}

#fact, #j-fact, #d-fact, #d-fact{
  color: white;
  font-size: 45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  -webkit-text-stroke: 1px navy;
}

h2{
  text-align: center;
  color: white;
  font-size: 45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 2px navy;
}